/* Carousel y texto apartamento Mimosa y Agave Blu */

.foto_mimosa{
    background-color: #222222;
}
.discover-mimosa{
    font-size: 1.4rem;
    color: $color_blanco;
    border: 3px solid $color_tortora;
    margin-bottom: 15px;
}