@mixin descriptionbig ($fuente, $espacio, $izquierda, $derecha, $linea){
    font-size: $fuente;
    padding: $espacio;
    margin-left: $izquierda;
    margin-right: $derecha;
    line-height: $linea;
}
/*Media Queries h1 y description pantalla grande */

@media only screen and (min-width: 600px) and (max-width: 1700px){
    .tittle {
        h1{
            padding-top: 1rem;
        }
    }
    
   
    .description{
        @include descriptionbig(1.4rem, 2rem, 40px, 40px, 2rem);
    }
}