/* Media Querie Carousel y Texto apartamento Mimosa y Agave Blu */
@media only screen and (min-width: 280px) and (max-width: 599px){
    .discover-mimosa{
        font-size: .8rem;
    }
}

// Media queries tutti i carousel

@media only screen and (min-width: 1024px) and (max-width: 1700px){
    .slider-index{
        height: calc(100vh - 122px);
        object-fit: cover;
        .carousel-inner{
            img {
                height: 100%
            }
        }
    }    
}


/*{
    .carousel {
        height: 87vh;
        .carousel-inner {
            height: 100%;
            .carousel-item {
                img {
                    height: 100%;
                }
            }
        }
    }
}*/