
// Version mobile, media querie
@mixin description ( $fuente, $espacio, $izquierda, $derecha, $linea) {
    font-size: $fuente;
    padding: $espacio;
    margin-left: $izquierda;
    margin-right: $derecha;
    line-height: $linea;

}
/*Media Queries h1 y description pantalla chica */
@media only screen and (min-width: 280px) and (max-width: 599px){
    .container_tittle_description{
        margin: 1.5rem;
        padding: .2rem;
        .tittle {
            h1{
                font-size: 1rem;
            }
        }
        .description {
            p {
                @include description(.8rem, 10px, 10px, 10px, 20px);
            }
        }
    }       
}


// Version pantalla grande, media querie
@mixin descriptionbig ($fuente, $espacio, $izquierda, $derecha, $linea){
    font-size: $fuente;
    padding: $espacio;
    margin-left: $izquierda;
    margin-right: $derecha;
    line-height: $linea;
}

/*Media Queries h1 y description pantalla grande */

@media only screen and (min-width: 600px) and (max-width: 1700px){
    .tittle {
        h1{
            padding-top: 1rem;
        }
    }
    
   
    .description{
        @include descriptionbig(1.4rem, 2rem, 40px, 40px, 2rem);
    }
}
