//Whatsapp
/* WhatsApp */

.icono-wpp {
    position: fixed;
    right: 25px;
    bottom: 35px;
    z-index: 999;   
    .logo-whats {
        width: 3.5rem;
        border-radius: 100%;
    }
    .logo-whats:hover {
        box-shadow: 3px 3px 3px $color_verde_suave;
    }
}

/* Media Querie version mobile */

@media only screen and (min-width: 280px) and (max-width: 599px){
    .icono-wpp {
        .logo-whats {
            width: 3rem;
        }
        
    }
}

/* Fin WhatsApp */