//Whatsapp
/* WhatsApp */

.icono-wpp {
    position: fixed;
    right: 25px;
    bottom: 35px;
    z-index: 999;
    .logo-whats {
        width: 3.5rem;
        border-radius: 100%;
    }
}

@media only screen and (min-width: 280px) and (max-width: 599px){
    .icono-wpp {
        .logo-whats {
            width: 3rem;
        }
        
    }
}




/*
@mixin estilologo ($ancho, $espacio, $border){
    width: $ancho;
    padding: $espacio;
    border-radius: $border;
}

.sectionLogoWhatsapp {
        transform: translate(-50px);
        .logoWhatsapp {
            @include estilologo(70px, 9px, 50%);
            background-color: rgba(92, 91, 91, 0.5058823529);
        }
        .logoWhatsapp:hover {
            box-shadow: 2px 2px 5px #000000;
            background-color: #075E54;
        }
    }

*/

/* Fin WhatsApp */