/* Card reviews */
/* Reviews */
.reviews{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding-top: 1rem;
    margin-bottom: 0;
}
.grandezatexto{
    font-size: 10px;
    .card-reviews{
        background-color: #222222;
        color: $color_blanco;
        .grandezatexto0{
            font-size: 12px;
        }
    }
}

/* Media Querie Reviewcard */
@media only screen and (min-width: 280px) and (max-width: 599px){
    .reviews{
        font-size: .9rem;
    }
}