/* Card reviews */
.grandezatexto{
    font-size: 10px;
    .card-reviews{
        background-color: #222222;
        color: $color_blanco;
        .grandezatexto0{
            font-size: 12px;
        }
    }
}