/* Mapa y card contacto index */
.contenedor{
    background-color: $color_verde;
    .googlemaps{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        .mapaframe {
            width: 75%;
            height: 300px;
            box-shadow: 2px 2px 5px #000000;
            border-radius: 15px;
        } 
        .mapaframe:hover {
            filter: none;
        }  
    }
}

@media only screen and (max-width: 281px){
    .help {
        div {
            h3 {
                font-size: .9rem;
            }
            p {
                font-size: .8rem;
            }
        }
    }
    .contenedor {
        display: none;
        }   
    }